# Server
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Database
DATABASE_URL=

# JWT
JWT_ACCESS_SECRET=63fc09f9dfb7930f9a1cd59413f9252ed31bad1f4a00b400d8a72d5452670fbe
JWT_REFRESH_SECRET=19ec8d360c9c7a104b8195bebe6326d634097ad985a8f1002c162b2e00faf5a6
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=dxmrwh2qf
CLOUDINARY_API_KEY=989959482634518
CLOUDINARY_API_SECRET=u5Fj992PYAtNwtTnEnWKLw4tsU4

# Email (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=mominshaikhdevs@gmail.com
SMTP_PASS=lwxoeefwpjjdnawl
EMAIL_FROM="Team Hub <mominshaikhdevs@gmail.com>"